body{
 background-color: rgb(51, 51, 51))   
}
header{
    background-color:rgba(172, 50, 50, 0.829) ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
font-size: large;
}
.logo{background-color: black;
color: whitesmoke;
}
nav{background-color: purple;
color: rgb(187, 180, 180);
 }
main{background-color: aqua;
    width: 75%;
margin-left: auto;
margin-right: auto;
}
section{background-color: rgb(34, 128, 216);
}
footer{background-color: black;
color: aqua;
padding: 2%;
}